$theme: #FED136;
$oscuro: black;
$bg-dark-light:#F7F7F7;
$altescii: 'Kaushan Script', sans-serif;
$titles: 'Montserrat', sans-serif;
$italica:'Droid Serif', sans-serif;

@mixin radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
border-radius: $radius;
}

@mixin btn-yellow{
  color: white;
  font-family: $titles;
  background-color: $theme;
  padding: 1.8% 3%;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  &:hover{
    background-color: $theme;
  }
}
@mixin icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: $oscuro;
  color: white;
  font-size: 1.3em;
  margin: 0% 1%;
  &:hover{
    background-color: $oscuro;
  }
  i{
    margin-top: 28%;
  }
}

@mixin imgcircle($imgborder) {
  @include radius(100%);
  border: 6px solid $imgborder;
}