@import "_mixvar";

body{
  font-family: $titles;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #555;
  background-color: $theme;
}



/*©Milu Robles*/
header {
  .navbar-default {
  border: none;
  background-color: transparent;
  padding: 2% 4%; 
    .navbar-nav > li > a {
    font-family: $titles, sans-serif;
    color: white;
    @media(max-width: 768px){
        background-color: $oscuro;
        &:hover{
          background-color: $oscuro;
            }
          }
       }
    .navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color: #FED136;
    font-size: 1.8em; }
       }
    }

/*Cambio de bg-menu*/
 .nav-black {
  background-color: black; }

h3 {
  font-size: 2.8em;
  font-weight: bold;
  font-family: $titles, sans-serif;
  @media(max-width: 400px){
        font-size: 2em;} 
    }

/*©Milu Robles*/
.header-bg {
  background-image: url("../../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 114vh;
  display: flex;
  align-items: center;
  color: white; 
    h2 {
    font-family: $italica, serif;
    font-style: italic;
    font-size: 3em; }
    h3 {
    font-family: $titles, sans-serif;
    font-size: 5.5em;
    font-weight: bold;
    margin-bottom: 5%; 
    @media(max-width: 400px){
        font-size: 3em;}
      }
    .btn-yellow {
    color: white;
    font-family: $titles, sans-serif;
    background-color: #FED136;
    padding: 1.8% 3%;
    font-size: 1.2em;
    font-weight: bold;
    border: none; }
    .btn-yellow:hover {
      background-color: #fec503; }
    }

/*©Milu Robles*/
#services{
  padding: 7% 0%; 
   .concepto{
    margin-bottom: 5%; }
  .box-service  {
      i{
      background-color: #FED136;
      border-radius: 50%;
      font-size: 4.5em;
      width: 100px;
      height: 100px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto; }
       h4{
      font-weight: 600;
      font-family: $titles, sans-serif;
      margin: 5% 0%; }         
       p {
      color: #777777;
      font-family: "Roboto Slab", serif;
      line-height: 24px; }
        }
    }  

/*©Milu Robles*/
#portfolio{
  background-color: $bg-dark-light;
  padding: 7% 0%;
  .concepto{
    margin-bottom: 5%;
  }
  .portfolio-item{
    background-color: white;
    margin: 4% 0%;
    h4{
      font-family: $titles;
      margin: 6px 0 5px 0;
      font-weight: bold;
    }
    img{
      width: 100%;
    }
    p{
      font-family: $italica;
      font-style: italic;
      font-size: 1.2em;
      padding-bottom: 5%;
    }
  }
}

#team {
    padding: 5% 0 2% 0;
    background-color: $bg-dark-light;
    .circle {
      @include imgcircle(white);
    }
    h4{
      margin: 2% 0 3% 0;
      span {
     color: $theme;
      } 
    }
    
}

/*©Milu Robles*/
#contact {
  padding: 7% 0%;
  background-color: #222222;
  background-image: url("../../img/map-image.png");
  background-repeat: no-repeat;
  background-size: cover; 
    h3 {
    color: white; }
    .formulario {
    margin: 4% 0%; 
      form input {
      padding: 5.2% 4%;
      font-weight: bold;
      font-family: "Montserrat", sans-serif; }
      textarea {
      padding: 4%;
      font-weight: bold;
      font-family: "Montserrat", sans-serif; }
      }
    .btn-yellow {
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: #FED136;
    padding: 1.8% 3%;
    font-size: 1.2em;
    font-weight: bold;
    border: none; }
    .btn-yellow:hover {
      background-color: #fec503; }
    }

#logos{
    margin: 3% 0;
}

footer{
  font-size: 0.9em;
  padding: 2% 0%;
  .line{
    margin-top: 1%;
    a{
      color: $theme;
      margin-right: 5%;
      &:hover{
        color: white;
        text-decoration: none;
      }
      @media (max-width: 760px){
        margin: 1%;
      }
    }
  }
  p{
    margin-top: 3.5%;
  }
}

/*©Karen Valdivia*/
.social-media a.social-circle {
  border-radius: 100%;
  background-color: #303333;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  margin: 0 2%; }

#about {
  padding: 7% 0;
  p,img,h4{
    margin-top: 30px;
  }
  p{
    font-family: "Roboto Slab";
    color: #777;
  }
  img {
  width: 100%;
  @include radius(100%);
  border: 6px solid #F7F7F7; }
  .history{
  background-color: $theme;
  padding-top: 40px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  padding: auto;
  margin: auto;
  margin-top: 30px;
  }
 }


