-var paginasweb="Desarrollamos páginas web estáticas y dinámicas para tu empresa o startup hechas a tu gusto y medida."
-var responsive="El futuro es móvil, y conscientes de estos avances, diseñamos páginas adaptadas a todos los dispositivos móviles, sea celulares o tablets."
-var moviles="Hey, también elaboramos apps móviles! Checa nuestro portafolio y entérate de las últimas aplicaciones que hemos desarrollado."


mixin teamimg(x)
      img.circle(src=""+x)
mixin social(x,y,z)
  .social-media
    a(href=""+x).social-circle.fa.fa-twitter
    a(href=""+y).social-circle.fa.fa-facebook
    a(href=""+z).social-circle.fa.fa-github
mixin team(teamimg, teamtittle, teamsubtit,x,y,z)
  .col-md-4
    +teamimg(teamimg)
    h3= teamtittle
    span.teamsubtit= " " + teamsubtit
    +social(x,y,z)

mixin logos(logoname)
    img(src="img/logos/" + logoname)